.shadow {
    margin:50px;
    border:1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

h1 {
    margin: 50px;
    text-shadow: 3px 3px	#798b94;
}

.backimage {
    background-image: url('picture.jpg');
    background-size: cover;
    width:50%;
    
}

a {
    color: black;
}

a:hover {
    color:darkgreen;
    transition: 1s;
}

@media only screen and (max-width:800px) {
    body {
        background-color:black;
        color:white;
    }
}